[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
boto3 = "*"
google-search-results = "*"
flask = "*"
flask-cors = "*"
waitress = "*"
flask-limiter = "*"
wrapt-timeout-decorator = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"

[dev-packages]
ipython = "*"
jupyterlab = "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.11"
