[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
boto3 = "*"
google-search-results = "*"

[dev-packages]
ipython = "*"
jupyterlab = "*"

[requires]
python_version = "3.11"
