[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
boto3 = "*"
google-search-results = "*"
openai = "*"
psycopg2 = "*"
wrapt-timeout-decorator = "*"

[dev-packages]
flake8 = "*"
ipython = "*"
jupyterlab = "*"
pylint = "*"

[requires]
python_version = "3.11"
